<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户信息修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/lib/layui/css/layui.css" media="all">
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
</head>
<body>

<form class="layui-form layui-form-pane" action="" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">学号/账号</label>
        <div class="layui-input-block">
            <input type="text" id="studentnumber" value="{{.json.result.User_account}}" class="layui-input layui-btn-disabled">
        </div>
    </div>

    <div class="layui-inline">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" id="name" placeholder="请输入姓名" value="{{.json.result.User_name}}" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">专业方向</label>
            <div class="layui-input-inline">
                <input type="text" id="direction" placeholder="请输入专业方向" value="{{.json.result.User_direction}}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-inline">
        <button type="button" class="layui-btn" id="uplodingselfie" name="uplodingselfie">
            <i class="layui-icon">&#xe67c;</i>上传简照
        </button>
    </div>

    <div class="layui-inline">
        <img id="xmTanImg" src="{{.json.result.User_icon}}" width="91px" height="130px"/><br />
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
                <input type="text" id="grade" placeholder="如：2020" value="{{.json.result.User_grade}}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-inline">
                <input type="text" id="class" autocomplete="off" value="{{.json.result.User_class}}"
                       placeholder="如：软件191" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">QQ号</label>
            <div class="layui-input-block">
                <input type="text" id="qq" placeholder="" autocomplete="off" value="{{.json.result.User_qq}}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input type="text" id="phonenumber" autocomplete="off" value="{{.json.result.User_phone}}"
                       placeholder="" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
            <select id="permission">
                {{if .json.result.User_permission}}
                    <option value="1">管理员权限</option>
                    <option value="0">普通权限</option>
                {{else}}
                    <option value="0">普通权限</option>
                    <option value="1">管理员权限</option>
                {{end}}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">座右铭</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入座右铭" id="motto" class="layui-textarea">{{.json.result.User_motto}}</textarea>
        </div>
    </div>
    <div class="layui-form-item" style="right: 50%;position: absolute">
        <button class="layui-btn" lay-submit="" type="button" onclick="alteruserinfo()">修改</button>
    </div>
</form>
<script src="/static/admin/js/jquery.min.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    var icon = {{.json.result.User_icon}}
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#uplodingselfie' //绑定元素
            ,acceptMime: 'image/*'
            ,exts:'jpg|png|jpeg'
            ,url: '/admin/uploading/selfie' //上传接口
            ,auto: true //选择文件后不自动上传
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();
                oj = obj
                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                oj.preview(function(index, file, result){
                    var img = document.getElementById("xmTanImg");
                    img.src = result;
                });
            }
            ,done: function(res){
                if (res.code == 0){
                    icon = res.msg
                }else {
                    oj = null
                    layer.open({
                        title: '服务端提示'
                        ,content: res.msg
                    });
                }
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });



    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        form.render();
    });
    function alteruserinfo() {
        var data = {};
        data["User_account"] = $("#studentnumber").val()
        data["User_name"] = $("#name").val()
        data["User_grade"] = $("#grade").val()
        data["User_class"] = $("#class").val()
        var j = parseInt($("#permission").val())
        data["User_permission"] = j
        data["User_icon"] = icon
        data["User_direction"] = $("#direction").val()
        data["User_qq"] = $("#qq").val()
        data["User_phone"] = $("#phonenumber").val()
        data["User_motto"] = $("#motto").val()
        var jsonString = JSON.stringify(data);
        $.ajax({
            url: '/admin/user/alter/user',//地址
            dataType: 'json',//数据类型
            type: 'POST',//类型
            data: jsonString,
            success: function (data) {
                if (data.code == 1) {
                    layer.msg('修改成功', {
                        icon: 1,
                        time: 1500
                    }, function () {
                        //刷新父布局
                        parent.location.reload();
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });

                } else {
                    layer.msg('修改失败!', {icon: 5, time: 1500});
                }
            }
        })
    }
</script>
</body>
</html>
