<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>用户列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../../static/admin/css/font.css">
        <link rel="stylesheet" href="../../static/admin/css/xadmin.css">
        <link rel="stylesheet" href="../../static/admin/css/extend1.css">
        <script src="../../static/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../static/admin/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">成员管理</a>
            <a>
              <cite>成员列表</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" action="">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="queryuser" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button type="button layui-btn-disabled" onclick="cx()" class="layui-btn"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加用户','/admin/user/page/add',700,600)"><i class="layui-icon"></i>添加</button>
                            <button class="layui-btn layui-btn-disabled"><i class="layui-icon"></i>批量添加</button>
                            <!--<button class="layui-btn layui-btn-disabled" onclick="xadmin.open('批量添加用户','/admin/user/add_page',700,600)"><i class="layui-icon"></i>批量添加</button> -->

                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  <tr class="text-center">
                                      <th>学号/账号</th>
                                      <th>照骗</th>
                                    <th>姓名</th>
                                    <th>QQ</th>
                                    <th>手机</th>
                                    <th>班级</th>
                                    <th>座右铭</th>
                                    <th>专业方向</th>
                                      <th>状态</th>
                                    <th>操作</th></tr>
                                </thead>
                                <tbody id="tbody">
                                {{range .json.result}}
                                  <tr class="text-center">
                                      <td>{{.User_account}}</td>
                                      <td><img style="height: 37px;width: 30px" src="{{.User_icon}}"></td>
                                    <td>{{if .User_permission}}<span style="margin-right: 0px;float: left" class="layui-badge">管</span>{{end}}{{.User_name}}</td>
                                    <td>{{.User_qq}}</td>
                                    <td>{{.User_phone}}</td>
                                    <td>{{.User_class}}</td>
                                      <td>{{.User_motto}}</td>
                                      <td>{{.User_direction}}</td>

                                    <td class="td-status">
                                        {{if .User_activate}}
                                      <span onclick="member_stop(this,{{.User_account}})" class="layui-btn layui-btn-normal layui-btn-mini">已激活</span></td>
                                      {{else}}
                                      <span onclick="member_stop(this,{{.User_account}})" class="layui-btn layui-btn-disabled layui-btn-mini">已禁用</span></td>
                                      {{end}}
                                      <td class="td-manage">
                                          <a onclick="member_stop(this,{{.User_account}})" href="javascript:;"  title="禁用">
                                          {{if .User_activate}}
                                              <i class="layui-icon">&#x1005;</i>
                                          {{else}}
                                              <i class="layui-icon">&#x1007;</i>
                                          {{end}}
                                      </a>
                                      <a title="编辑"  onclick="xadmin.open('编辑用户信息','/admin/user/alter/page/user?u={{.User_account}}',700,600)" href="javascript:;">
                                        <i class="layui-icon">&#xe642;</i>
                                      </a>
                                      <a onclick="xadmin.open('修改密码','alter/page/password?u={{.User_account}}',700,600)" title="修改密码" href="javascript:;">
                                        <i class="layui-icon">&#xe631;</i>
                                      </a>
                                      <a title="删除" onclick="member_del(this,{{.User_account}})" href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i>
                                      </a>
                                    </td>
                                  </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                  <a class="num" href="home?p={{.json.page.firstpage}}">&lt;&lt;</a>
                                    {{range $index,$page := .json.page.pages}}
                                        {{if eq $.json.page.currpage $page }}
                                            <span class="current">{{$page}}</span>
                                       {{else}}
                                        <a class="num" href="home?p={{$page}}">{{$page}}</a>
                                        {{end}}
                                    {{end}}
                                  <a class="num" href="home?p={{.json.page.lastpage}}">&gt;&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      // 条件查询
      function cx() {
          $.ajax({
              url: "/admin/user/query/user",
              type: "POST",
              data: {
                  u: $("#queryuser").val(),
              },
              success: function (data) {
                  if (data.code == 1){
                      showTable(data)
                  }
              }
          })
      }


      /*用户-停用*/
      function member_stop(obj,id){
          if  ($(obj).parents("tr").find(".td-status").find('span').text() == '已禁用'){
              layer.confirm('确认要激活吗？', function (index) {
                  $.ajax({
                      url :"/admin/user/activate",
                      type: "GET",
                      data:{
                          account:id,
                          activate:true
                      },
                      success : function (data) {
                          if (data.code == 1) {
                              $(obj).attr('title', '禁用')
                              $(obj).find('i').html('&#x1005;');
                              $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已激活');
                              layer.msg('已激活!', {icon: 1, time: 1000});
                          }else {
                              layer.msg('已激活失败!', {icon: 5, time: 1000});
                          }
                      }
                  })
              });
          }else if ($(obj).parents("tr").find(".td-status").find('span').text() == '已激活'){
              layer.confirm('确认禁用吗？', function (index) {
                  //发异步把用户状态进行更改
                  $.ajax({
                      url :"/admin/user/activate",
                      type: "GET",
                      data:{
                          account:id,
                          activate:false
                      },
                      success : function (data) {
                          if (data.code == 1) {
                              $(obj).attr('title', '激活')
                              $(obj).find('i').html('&#x1007;');
                              $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已禁用');
                              layer.msg('已禁用!', {icon: 1, time: 1000});
                          }else {
                              layer.msg('禁用失败!', {icon: 5, time: 1000});
                          }
                      }
                  })
              });
          }
      }
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  url: '/admin/user/delete',//地址
                  type: 'POST',//类型
                  data: {account:id},
                  success:function (data) {
                      if (data.code == 1){
                          $(obj).parents("tr").remove();
                          layer.msg('已删除!',{icon:1,time:1000});
                      }else {
                          layer.msg('删除失败!',{icon:5,time:1000});
                      }
                  }
              })
          });
      }

      function showTable(data) {
          $("#tbody").html("");
          for (var i = 0;i <data.result.length;i++){
          str = "                                  <tr class=\"text-center\">\n" +
              "                                    <td>"+data.result[i].User_account+"</td>\n" +
              "                                    <td><img style=\"height: 37px;width: 30px\" src=\"../../static/img/1.jpg\"></td>\n" +
              "                                    <td id=\"newname"+data.result[i].User_account+"\">"+data.result[i].User_name+"</td>\n" +
              "                                    <td>"+data.result[i].User_qq+"</td>\n" +
              "                                    <td>"+data.result[i].User_phone+"</td>\n" +
              "                                    <td>"+data.result[i].User_class+"</td>\n" +
              "                                    <td>"+data.result[i].User_motto+"</td>\n" +
              "                                    <td>"+data.result[i].User_direction+"</td>\n" + "\n" +
              "                                    <td id=\"newactivate"+data.result[i].User_account+"\" class=\"td-status\">\n" +
              "                                    </td>\n" +
              "                                      <td class=\"td-manage\">\n" +
              "                                          <a onclick=\"member_stop(this,"+data.result[i].User_account+")\" href=\"javascript:;\"  title=\"禁用\">\n" +
              "                                          {{if .User_activate}}\n" +
              "                                              <i class=\"layui-icon\">&#x1005;</i>\n" +
              "                                          {{else}}\n" +
              "                                              <i class=\"layui-icon\">&#x1007;</i>\n" +
              "                                          {{end}}\n" +
              "                                      </a>\n" +
              "                                      <a title=\"编辑\"  onclick=\"xadmin.open('编辑用户信息','/admin/user/alter/page/user?u="+data.result[i].User_account+"',700,600)\" href=\"javascript:;\">\n" +
              "                                        <i class=\"layui-icon\">&#xe642;</i>\n" +
              "                                      </a>\n" +
              "                                      <a onclick=\"xadmin.open('修改密码','alter/page/password?u="+data.result[i].User_account+"',700,600)\" title=\"修改密码\" href=\"javascript:;\">\n" +
              "                                        <i class=\"layui-icon\">&#xe631;</i>\n" +
              "                                      </a>\n" +
              "                                      <a title=\"删除\" onclick=\"member_del(this,"+data.result[i].User_account+")\" href=\"javascript:;\">\n" +
              "                                        <i class=\"layui-icon\">&#xe640;</i>\n" +
              "                                      </a>\n" +
              "                                    </td>\n" +
              "                                  </tr>\n"
              $("#tbody").append(str);
              if (data.result[i].User_permission == 1){
                  newname = "<span style=\"margin-right: 0px;float: left\" class=\"layui-badge\">管</span>"
                  this.$("#newname"+data.result[i].User_account+"").append(newname);
              }
              if (data.result[i].User_activate == 1){
                  newactivate = " <span onclick=\"member_stop(this,"+data.result[i].User_account+")\" class=\"layui-btn layui-btn-normal layui-btn-mini\">已激活</span>"
                  this.$("#newactivate"+data.result[i].User_account+"").append(newactivate);
              }else {
                  newactivate = "<span onclick=\"member_stop(this,"+data.result[i].User_account+")\" class=\"layui-btn layui-btn-disabled layui-btn-mini\">已禁用</span>"
                  this.$("#newactivate"+data.result[i].User_account+"").append(newactivate);
              }
          }
      }
    </script>
</html>